# Large files
Raw_data_CSV/Motor_Vehicle_Collisions_-_Crashes.csv
Raw_data_CSV/anz_crash_20200903_fix/Car_crash.db
Raw_data_CSV/anz_crash_20200903_fix/Crash2.csv
Raw_data_CSV/anz_crash_20200903_fix/Description.csv
Raw_data_CSV/anz_crash_20200903_fix/Location2.csv
Raw_data_CSV/
Server_part/Car_crash.db
